.updateReview-Div{
  display: flex;
  justify-content: center;
}

.updateReviewTitle {
  font-family: Arial, Helvetica, sans-serif;
}

.submitNCancel-Rev-Div {
  display: flex;
  align-items: center;
}

.WriteAReviewBtn-Submit {
  margin-right: 5px;
  background-color: rgba(224,7,7,1);
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.WriteAReviewBtn-Submit:hover{
  background-color: rgb(254, 25, 25);
}

.cancelBtn-Review {
  background-color: white;
  border: none;
}

.cancelBtn-Review:hover {
  color: gray;
  text-decoration: underline;
}