.cardsDiv {
  display: flex;
  flex-direction: row;
}

.singleImageCardDiv {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 260px;
  /* height: fit-content; */
  width: 200px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top:20px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.innerCardInfoDiv {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
}

.restaurantImageCardItem {
  height: 200px;
  width: 200px;
}

.restaurantCardInd {
  display: flex;
}

.restaurantLinkStyling {
  text-decoration: none;
}

.cardRestaurantName {
  color: #0073bb;
  font-weight: bold;
}

.restOfCard {
  color: black;
}