.cardsDiv {
  display: flex;
  flex-direction: row;
}

.singleImageCardDiv {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 260px;
  /* height: fit-content; */
  width: 200px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top:20px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.singleImageCardDiv:hover {
  border: 1px solid gray;
}

.innerCardInfoDiv {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
}

.restaurantImageCardItem {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.restaurantCardInd {
  display: flex;
}

.restaurantLinkStyling {
  text-decoration: none;
}

.cardRestaurantName {
  color: #0073bb;
  font-weight: bold;
}

.restOfCard {
  color: black;
}

.notFoundGoodeatsLogo-card {
  height: 40px;
  width: 100px;
}

.restCard-ImgNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: rgb(176, 176, 176);
}

.imageNotFound-Txt-card {
  color: black;
}

.notFoundGoodeatsFlower {
  margin-left: 5px;
  height: 80px;
  width: 80px;
}