.optionsIconButton-review {
  background-color: rgb(232, 231, 231);
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.optionsIconButton-review:hover {
  background-color: rgb(164, 161, 161);
}

.editReview-icon {
  color: black;
  margin-left: 5px;
}

.editReview-icon:hover {
  color:rgb(121, 119, 119);
}

.deleteRevIcon-review {
  background: none;
  border: none;
  padding-left: none;
}

.deleteRevIcon-review:hover {
  color: red;
  border: none;
}

.trashIcon-review {
  background-color: none;
}